@use '../../../../../../scss/mixins/flex' as *;

.om_organizations_update {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;

	@media(min-width: 768px){
		grid-template-columns: repeat(2, 1fr);
	}

	&__card {

		&__header {
			width: 100%;
			@include flex-center-between;
			flex-wrap: wrap;

			h2 {
				margin-bottom: 30px;
			}

		}


		&__grid {
			display: grid;
			grid-template-columns: 1fr;
		}

	}

}