$white: #FFFFFF;
$bg_ligth: #F6F6F6;
$dark: #000000;
$primary: #0948AE;
$text: #000000;
$off_text: #D0DCF0;

$danger: #DC2626;
$shadow: 0 5px 13px rgba($dark, .2);

$colors: (
	"primary": $primary,
	"danger": $danger,
);